<div class="loading" *ngIf="LoadingPage"></div>
<!--  todo --------------------------------------------------------- -->

<div class="row mb-3 p-2 text-head template">
    <!-- <div class="col-12 text-head"> -->

    <div class="col-lg-3 col-sm-12">
        <button class="btn btn-block btn-primary" (click)="onClickYear()">This Year</button>
    </div>
    <div class="col-lg-3 col-sm-12">
        <span>Month</span>
        <input type="month" class="form-control" [(ngModel)]="SELECTED_MONTH" (change)="onChangeMonth()">
    </div>

    <div class="col-lg-3 col-sm-12">
        <span>Date Start</span>
        <input type="date" class="form-control" [(ngModel)]="SELECTED_DATE_START" (change)="onChangeDateRange()">
    </div>

    <div class="col-lg-3 col-sm-12">
        <span>Date End</span>
        <input type="date" class="form-control" [(ngModel)]="SELECTED_DATE_END" (change)="onChangeDateRange()" [min]="MIN_DATE_START">
    </div>
    <!-- </div> -->

</div>

<div class="row template" *ngIf="ChartOnTime">
    <div class="col-12 text-head">
        <h5>Result On Time</h5>
    </div>
    <div class="line-under"></div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-1 col-md-2">
                        <div class="icon-big text-center icon-warning">
                            <i class="bi bi-columns-gap text-warning"></i>
                        </div>
                    </div>
                    <div class="col-11 col-md-10">

                        <div class="numbers">
                            <p class="card-category">ALL REQUEST ANALYSIS ON TIME</p>
                            <p *ngIf="toggleOnTime('ALL')" class="card-title">
                                <span style="font-size: small;">Summary from ( PNL, MDL, DST FM, AMT FM, AMT, SMT
                                    )</span> {{ ChartOnTime.ALL.percent }}
                            </p>
                            <p *ngIf="!toggleOnTime('ALL')" class="card-title">
                                <span style="font-size: small;">Summary from ( PNL, MDL, DST FM, AMT FM, AMT, SMT
                                    )</span> No have request
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats" *ngIf="toggleOnTime('ALL')">
                    <!-- <i class="fa fa-refresh"></i> Update: {{ ChartOnTime.ALL.timeUpdate |date:'dd/MM/yyyy' }} -->
                </div>
            </div>
        </div>
    </div>

    <!-- PNL -->
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <div class="icon-big text-center icon-warning">
                            <i class="bi bi-clipboard text-primary"></i>

                        </div>
                    </div>
                    <div class="col-10 col-md-10">
                        <div class="numbers">
                            <p class="card-category">PNL</p>
                            <p *ngIf="toggleOnTime('PNL')" class="card-title">
                                <span style="font-size: small;">On Time: </span> {{ ChartOnTime.PNL.percent }}
                            </p>
                            <p *ngIf="!toggleOnTime('PNL')" class="card-title percent-font">No have request</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats" *ngIf="toggleOnTime('PNL')">
                    <!-- <i class="fa fa-calendar-o"></i>Update: {{ ChartOnTime.PNL.timeUpdate |date:'dd/MM/yyyy' }} -->
                </div>
            </div>
        </div>
    </div>

    <!-- MDL -->
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <div class="icon-big text-center icon-warning">
                            <i class="bi bi-clipboard text-primary"></i>

                        </div>
                    </div>
                    <div class="col-10 col-md-10">
                        <div class="numbers">
                            <p class="card-category">MDL</p>
                            <p *ngIf="toggleOnTime('MDL')" class="card-title">
                                <span style="font-size: small;">On Time: </span> {{ ChartOnTime.MDL.percent }}
                            </p>
                            <p *ngIf="!toggleOnTime('MDL')" class="card-title percent-font">No have request</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats" *ngIf="toggleOnTime('MDL')">
                    <!-- <i class="fa fa-calendar-o"></i>Update: {{ ChartOnTime.MDL.timeUpdate |date:'dd/MM/yyyy' }} -->
                </div>
            </div>
        </div>
    </div>
    <!-- DST_FM -->
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <div class="icon-big text-center icon-warning">
                            <i class="bi bi-clipboard text-primary"></i>

                        </div>
                    </div>
                    <div class="col-10 col-md-10">
                        <div class="numbers">
                            <p class="card-category">DST_FM</p>
                            <p *ngIf="toggleOnTime('DST_FM')" class="card-title">
                                <span style="font-size: small;">On Time: </span> {{ ChartOnTime.DST_FM.percent }}
                            </p>
                            <p *ngIf="!toggleOnTime('DST_FM')" class="card-title percent-font">No have request</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats" *ngIf="toggleOnTime('DST_FM')">
                    <!-- <i class="fa fa-calendar-o"></i>Update: {{ ChartOnTime.DST_FM.timeUpdate |date:'dd/MM/yyyy' }} -->
                </div>
            </div>
        </div>
    </div>
    <!-- AMT_FM -->
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <div class="icon-big text-center icon-warning">
                            <i class="bi bi-clipboard text-primary"></i>

                        </div>
                    </div>
                    <div class="col-10 col-md-10">
                        <div class="numbers">
                            <p class="card-category">AMT_FM</p>
                            <p *ngIf="toggleOnTime('AMT_FM')" class="card-title">
                                <span style="font-size: small;">On Time: </span> {{ ChartOnTime.AMT_FM.percent }}
                            </p>
                            <p *ngIf="!toggleOnTime('AMT_FM')" class="card-title percent-font">No have request</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats" *ngIf="toggleOnTime('AMT_FM')">
                    <!-- <i class="fa fa-calendar-o"></i>Update: {{ ChartOnTime.AMT_FM.timeUpdate |date:'dd/MM/yyyy' }} -->
                </div>
            </div>
        </div>
    </div>
    <!-- AMT -->
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <div class="icon-big text-center icon-warning">
                            <i class="bi bi-clipboard text-primary"></i>

                        </div>
                    </div>
                    <div class="col-10 col-md-10">
                        <div class="numbers">
                            <p class="card-category">AMT</p>
                            <p *ngIf="toggleOnTime('AMT')" class="card-title">
                                <span style="font-size: small;">On Time: </span> {{ ChartOnTime.AMT.percent }}
                            </p>
                            <p *ngIf="!toggleOnTime('AMT')" class="card-title percent-font">No have request</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats" *ngIf="toggleOnTime('AMT')">
                    <!-- <i class="fa fa-calendar-o"></i>Update: {{ ChartOnTime.AMT.timeUpdate |date:'dd/MM/yyyy' }} -->
                </div>
            </div>
        </div>
    </div>
    <!-- SMT -->
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-2 col-md-2">
                        <div class="icon-big text-center icon-warning">
                            <i class="bi bi-clipboard text-primary"></i>

                        </div>
                    </div>
                    <div class="col-10 col-md-10">
                        <div class="numbers">
                            <p class="card-category">SMT</p>
                            <p *ngIf="toggleOnTime('SMT')" class="card-title">
                                <span style="font-size: small;">On Time: </span> {{ ChartOnTime.SMT.percent }}
                            </p>
                            <p *ngIf="!toggleOnTime('SMT')" class="card-title percent-font">No have request</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats" *ngIf="toggleOnTime('SMT')">
                    <!-- <i class="fa fa-calendar-o"></i>Update: {{ ChartOnTime.SMT.timeUpdate |date:'dd/MM/yyyy' }} -->
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row template mt-3">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Request Sheet Q'ty</h5>
            </div>
            <div class="card-body ">
                <canvas id="RequestSheetChart"></canvas>
            </div>
            <div class="card-footer ">

                <hr>
                <div class="stats">
                    <!-- <i class="fa fa-calendar"></i>Update: {{UpdateRequestSheet}} -->
                </div>
            </div>
        </div>
    </div>

    <!-- Failure Rank -->
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Failure Rank</h5>
                <!-- <p class="card-category">24 Hours performance</p> -->
            </div>
            <div class="card-body ">
                <canvas id=FailureRankChart></canvas>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <!-- <i class="fa fa-history"></i> Update: {{UpdateRequestSheet}} -->
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row template mt-3">
    <div class="col-12">
        <h5 class="text-head">Top 5 Defective</h5>
    </div>

    <div class="col-md-12 ">
        <div class="card">
            <div class="card-header ">
                <h5 class="card-title">PNL</h5>
                <!-- <p class="card-category">Last Campaign Performance</p> -->
            </div>
            <div class="card-body">
                <canvas id="DefectChartPNL" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <!-- <i class="fa fa-calendar"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 ">
        <div class="card">
            <div class="card-header ">
                <h5 class="card-title">MDL</h5>
                <!-- <p class="card-category">Last Campaign Performance</p> -->
            </div>
            <div class="card-body">
                <canvas id="DefectChartMDL" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <!-- <i class="fa fa-calendar"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 ">
        <div class="card">
            <div class="card-header ">
                <h5 class="card-title">DST_FM</h5>
                <!-- <p class="card-category">Last Campaign Performance</p> -->
            </div>
            <div class="card-body">
                <canvas id="DefectChartDST_FM" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <!-- <i class="fa fa-calendar"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 ">
        <div class="card">
            <div class="card-header ">
                <h5 class="card-title">AMT_FM</h5>
                <!-- <p class="card-category">Last Campaign Performance</p> -->
            </div>
            <div class="card-body">
                <canvas id="DefectChartAMT_FM" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <!-- <i class="fa fa-calendar"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 ">
        <div class="card">
            <div class="card-header ">
                <h5 class="card-title">AMT</h5>
                <!-- <p class="card-category">Last Campaign Performance</p> -->
            </div>
            <div class="card-body">
                <canvas id="DefectChartAMT" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <!-- <i class="fa fa-calendar"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 ">
        <div class="card">
            <div class="card-header ">
                <h5 class="card-title">SMT</h5>
                <!-- <p class="card-category">Last Campaign Performance</p> -->
            </div>
            <div class="card-body">
                <canvas id="DefectChartSMT" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <!-- <i class="fa fa-calendar"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row template mt-3">
    <div class="col-12">
        <h5 class="text-head">Top 5 Category cause</h5>
    </div>

    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">PNL</h5>
                <!-- <p class="card-category">24 Hours performance</p> -->
            </div>
            <div class="card-body ">
                <canvas id="CauseChartPNL" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <div class="chart-legend">

                </div>
                <hr />
                <div class="card-stats">
                    <!-- <i class="fa fa-check"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">MDL</h5>
                <!-- <p class="card-category">24 Hours performance</p> -->
            </div>
            <div class="card-body ">
                <canvas id="CauseChartMDL" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <div class="chart-legend">

                </div>
                <hr />
                <div class="card-stats">
                    <!-- <i class="fa fa-check"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">DST_FM</h5>
                <!-- <p class="card-category">24 Hours performance</p> -->
            </div>
            <div class="card-body ">
                <canvas id="CauseChartDST_FM" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <div class="chart-legend">

                </div>
                <hr />
                <div class="card-stats">
                    <!-- <i class="fa fa-check"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">AMT_FM</h5>
                <!-- <p class="card-category">24 Hours performance</p> -->
            </div>
            <div class="card-body ">
                <canvas id="CauseChartAMT_FM" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <div class="chart-legend">

                </div>
                <hr />
                <div class="card-stats">
                    <!-- <i class="fa fa-check"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">AMT</h5>
                <!-- <p class="card-category">24 Hours performance</p> -->
            </div>
            <div class="card-body ">
                <canvas id="CauseChartAMT" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <div class="chart-legend">

                </div>
                <hr />
                <div class="card-stats">
                    <!-- <i class="fa fa-check"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">SMT</h5>
                <!-- <p class="card-category">24 Hours performance</p> -->
            </div>
            <div class="card-body ">
                <canvas id="CauseChartSMT" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <div class="chart-legend">

                </div>
                <hr />
                <div class="card-stats">
                    <!-- <i class="fa fa-check"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row template">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Each Engineer</h5>
                <!-- <p class="card-category">Coming soon....</p> -->
            </div>
            <div class="card-body ">
                <!-- {{EngineerLists|json}} -->
                <canvas id="ChartEngineer" height="100%"></canvas>
            </div>
            <div class="card-footer ">
                <div class="chart-legend">

                    <hr />
                    <div class="card-stats">
                        <!-- <i class="fa fa-check"></i> -->
                        <!-- Update: {{EngineerUpdateTime}} -->
                    </div>
                </div>
            </div>
        </div>
    </div><br />