<div class="wrapper" *ngIf="loginStatus">
    <div class="sidebar" data-color="black" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <!-- <h1 style="color: red;">
                TEST VERSION - 
            </h1> -->
            <router-outlet></router-outlet>
        </div>

        <footer-cmp></footer-cmp>

    </div>
</div>

<div class="wrapper" *ngIf="!loginStatus">
    <router-outlet></router-outlet>
</div>