.myInput {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  width: 100%;
  margin: 0 0 0;
  height: 100%;
  // margin: 1px 1px;
  background-color: mintcream;
}



.myButton {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}


.myInputRed {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	// background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	// background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	// font-weight:bold;
  background-color:#ee8d8dc9;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myInputGreen {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	// background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	// background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	// font-weight:bold;
  background-color:#71fc93b5;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}




.abc{
  background: #51cbce!important;
}

.p0{
  padding: 0 15px 0 0;
}


.myCss {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	// background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	// background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	// font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
  margin: 1px 0px;
  width: 100%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input, select, textarea{
  color: rgb(0, 0, 255) !important
}


.header {
  position: relative;
}

.overlay {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

.P{
  padding: 5px 8px;
}




p {
  font-family: Lato;
}


* {box-sizing: border-box;}

.img-magnifier-container {
  position:relative;
}

::ng-deep .img-magnifier-glass {
  position: absolute;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}


.ttt{
  opacity: 0%;
}

.label{
  font-weight: 600;
}


.blue{
  color: rgb(55, 55, 248)
}


$primary_1: var(--css_1);
$primary_2: var(--css_2);
$primary_3: var(--css_3);
.sc_1{
  width: $primary_1
}

.sc_2{
  width: $primary_2
}
.sc_3{
  width: $primary_3
}
// $primary2: var(--primary2);

// document.documentElement.style.setProperty('--primary2', length + 'px');
input::-webkit-calendar-picker-indicator {
  opacity: 0;
}




select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.header {
  background-color: #00faff2e;
}



.B{
  font-weight: 600;
}

.CLR{
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
#registration div label:first-child {
  background-color: #00faff2e;
}
// #registration > div > label{
//   background-color: #00faff2e;
// }


.spinner {
  z-index: 21;
  position: relative;
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.loading {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(180, 180, 180, 0.938);
  width: 100%;
  height: 100%;
  z-index: 20;
  animation: fade 0.25s linear 0.25s infinite alternate;
}

@keyframes fade {
  0% {
      background-color: rgba(180, 180, 180, 0.938);
  }
  100% {
      background-color: rgba(136, 136, 136, 0.938);
  }
}
