<div class="loading" *ngIf="LoadingPage">
  <div class="spinner">
  </div>
</div>

<div class="center" *ngIf="!data">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>

<div *ngIf="data" class="myInput mt-3" style="width: 100%" (mouseup)="this.toggleBT = false">


  <div class="col-lg-12">
    <div class="row mt-3 label">
      <div class="col-lg-12">
        <div class="row d-flex justify-content-between">
          <h5 class="d-flex align-items-center" style="margin: 0px;font-weight: bold;">Resistance Database.</h5>
          <div>
            <button (click)="ExportExcel()" class="btn btn-sm  text-primary"
              style="text-align: right; cursor: pointer;">Export <i class="bi bi-file-earmark-spreadsheet"></i></button>
          </div>
        </div>
      </div>

      <div class="col-lg-12 pl-0 pr-0 pt-2">
        <label class="B" for="" style="font-size: 19px; font-weight: bold;">Confirm input resistance of NG sample
          compare with Good sample</label>
        <div class="">
          <label for="" style="font-size: 19px; font-weight: bold;"> Model :</label>
          <span class="blue mr-3" style="font-size: 19px;font-weight: 100;"> {{model}} </span>
          <span class="blue mr-3" style="font-size: 19px;font-weight: 100;"> {{dataMain.size?dataMain?.size:''}} </span>
          <span class="blue mr-3" style="font-size: 19px;font-weight: 100;">
            {{dataMain?.customer?dataMain?.customer:''}} </span>


        </div>
        <div *ngIf="this.urlOldUse?.length > 0" class="">
          <label for="" style="font-size: 19px; font-weight: bold;text-decoration: underline;">Pin assignment</label>
        </div>
        <div class="col-lg-12" *ngFor="let item of this.urlOldUse let  i = index;">
          <div class="img-magnifier-container pr-0 pl-0">
            <img [src]="item" width="100%" height="100%">
          </div>
        </div>
        <div class="pt-3">
          <button class="btn H1" style="padding: 0 0 0 0;margin: 0;" (click)="addInput()">
            <i class="bi bi-file-earmark-plus" style="font-size: 27px"></i></button>
          <button *ngIf="data[0]?.list[0]?.ng.length > 1" class="btn H2" style="padding: 0 0 0 0;margin: 0;"
            (click)="delInput()">
            <i class="bi bi-file-earmark-minus" style="font-size: 27px"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-2">

  </div>


  <!-- <button (mousemove)="test($event)">Try it</button> -->

  <div class="pt-2 Flipped_1" id="container" style="overflow: auto;width: 100%;height: 100%; cursor: grab;"
    (mousedown)="Drag($event)" onselectstart="return false">
    <div class="Flipped_2">
      <div class="row pt-3" id="registration" style="margin: 0;padding: 0;width: max-content; ">
        <div class="mr-5 B sc_1" *ngFor="let item of data" style="padding-left: 16px;">
          <div class="row" *ngIf="item.name != 'between' " style="padding: 0;">
            <label class="myInput CLR sc_1">Resistance reference with {{item.name}} (k ꭥ)</label>
            <div class="" style="width: 4rem;">
              <label class="myInput CLR">No.</label>
            </div>
            <div class="" style="width: 4rem;">
              <label class="myInput CLR">Name</label>
            </div>
            <div class="" style="width: 6rem;">
              <label class="myInput CLR">Good</label>
            </div>
            <div class="" style="width: 4rem;">
              <input class="myInput CLR" type="number" class="myInput CLR" placeholder="Err%" [(ngModel)]="item.err"
                (change)="setErrorValue()">
            </div>
            <div class="" *ngFor="let qq of data[0]?.list[0]?.ng ;let i = index" style="width: 6rem;">
              <input type="file" [id]="'files'+i+item.name" hidden type="file" multiple="false"
                (change)="inputData($event,i+1,item.name)" />
              <label [for]="'files'+i+item.name" class="myInput CLR IPS"
                style="box-shadow: inset 0px 0px 9px 4px #b4f5f1 !important; cursor: pointer !important;">NG sample
                {{i+1}}</label>
            </div>
          </div>
          <div class="row sc_2" *ngIf="item.name == 'between' " style="padding: 0;">
            <label class="myInput CLR">Resistance reference with {{item.name}} (k ꭥ)</label>
            <div class="" style="width: 4rem;">
              <label class="myInput CLR">No.</label>
            </div>
            <div class="" style="width: 4rem;">
              <label class="myInput CLR">No.</label>
            </div>
            <div class="" style="width: 4rem;">
              <label class="myInput CLR">Name</label>
            </div>
            <div class="" style="width: 4rem;">
              <label class="myInput CLR">Name</label>
            </div>
            <div class="" style="width: 6rem;">
              <label class="myInput CLR">Good</label>
            </div>
            <div class="" style="width: 4rem;">
              <input class="myInput CLR" type="number" class="myInput CLR" placeholder="Err%" [(ngModel)]="item.err"
                (change)="setErrorValue()">
            </div>
            <div class="" *ngFor="let qq of data[0]?.list[0]?.ng ;let i = index" style="width: 6rem;">
              <input type="file" [id]="'files'+i+item.name" hidden type="file" multiple="false"
                (change)="inputData($event,i+1,item.name)" />
              <label [for]="'files'+i+item.name" class="myInput CLR IPS"
                style="box-shadow: inset 0px 0px 9px 4px #b4f5f1 !important ; cursor: pointer !important;">NG sample
                {{i+1}}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 0;padding-left: 1px;width: max-content; ">
        <div class="mr-5" *ngFor="let item of data">
          <div class="col" *ngIf="item.name != 'between' ">
            <div class="row sc_1" *ngFor="let row of item.list" style="padding: 0;">
              <div class="" style="width: 4rem;">
                <label class="myInput CLR">{{row.Number}}</label>
              </div>
              <div class="" style="width: 4rem;">
                <label class="myInput CLR">{{row.Name}}</label>
              </div>
              <div class="" style="width: 6rem;">
                <label class="myInput CLR">{{row.Good}}</label>
              </div>
              <div class="" style="width: 4rem;">
                <input class="myInput CLR" type="" [(ngModel)]="row.err" [id]="item.name+row.Number" (change)="calAfterInput(row)" (focus)="clearInput(row.err)" onfocus="this.value=''" (blur)="returnInput(item,row.Number)">
              </div>
              <div class="" *ngFor="let ng of row.ng; let i_ng=index">
                <input class="myInput CLR"
                  [ngClass]="{'myInputGreen': (ng.status == true && ng.value != null),'myInputRed': (ng.status == false && ng.value != null)}"
                  [(ngModel)]="ng.value" [value]="ng.value" type="" style="width: 6rem" (keyup)="calculator(row,i_ng)">
              </div>
            </div>
          </div>
          <div class="col" *ngIf="item.name == 'between' ">
            <div class="row sc_2" *ngFor="let row of item.list" style="padding: 0;">
              <div class="" style="width: 4rem;">
                <label class="myInput CLR">{{row.Number_A}}</label>
              </div>
              <div class="" style="width: 4rem;">
                <label class="myInput CLR">{{row.Number_B}}</label>
              </div>
              <div class="" style="width: 4rem;">
                <label class="myInput CLR">{{row.Name_A}}</label>
              </div>
              <div class="" style="width: 4rem;">
                <label class="myInput CLR">{{row.Name_B}}</label>
              </div>
              <div class="" style="width: 6rem;">
                <label class="myInput CLR">{{row.Good}}</label>
              </div>
              <div class="" style="width: 4rem;">
                <input class="myInput CLR" type="" [(ngModel)]="row.err" [id]="item.name+row.Number_A" (change)="calAfterInput(row)" (focus)="clearInput(row.err)" onfocus="this.value=''" (blur)="returnInput(item,row.Number_A)">
              </div>
              <div class="" *ngFor="let ng of row.ng; let i_ng=index">
                <input class="myInput CLR"
                  [ngClass]="{'myInputGreen': (ng.status == true && ng.value != null),'myInputRed': (ng.status == false && ng.value != null)}"
                  [(ngModel)]="ng.value" [value]="ng.value" type="" style="width: 6rem" (keyup)="calculator(row,i_ng)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-2">

</div>


<div *ngIf="data" class="row">
  <div class="col">
    <button (click)="BTC()" class="btn btn-sm btn-primary mr-0">EDIT IMAGE</button>
  </div>
</div>
<div [hidden]="!toggleBT" class="row pt-1">
  <div class="col-lg-12 pt-1">
    <label for="">File</label>
    <input class="ml-1" type="file" #fileUpload [multiple]="true" (change)="upload($event)">
  </div>
  <div class="col-lg-12">
    <ul style="margin-right: 3em;">
      <li *ngFor="let file of urlOldShow ;let i = index" class="d-flex align-items-center justify-content-between">
        {{i+1}}. {{file.name}}
        <span>
          <a target="_blank" title="ImageName" class="btn btn-sm btn-primary mr-0" style="cursor: pointer;"
            (click)="downloadImageOnly(file)"><i class="bi bi-download" style="font-size: 12px;"></i></a>
          <button class="btn btn-sm text-primary"
            (click)="onClickDel(file);deleteArray(this.urlOldUse, i)">Delete</button>
        </span>
      </li>
      <li *ngFor="let file of tempUpload ;let i = index" class="d-flex align-items-center justify-content-between">
        {{i+1+urlOldShow.length}}. {{file.name}}
        <span>
          {{file.size|fileSize}}
          <button class="btn btn-sm text-primary ml-2" (click)="onClickDel(file)">Delete</button>
        </span>
      </li>
    </ul>
  </div>


  <div class="col-lg-12">
    <div class="d-flex justify-content-center">
      <div class="col-lg-3">
        <button [disabled]="disableSub || (this.EmSize / 1048576 > 30)" class="btn btn-block"
          (click)="submit();">update</button>
      </div>
    </div>
  </div>
</div>
