<div [formGroup]="Form" class="col-12" style="background-color: white; padding: 40px; border-radius: 12px; box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);">
    <div class="row">
        <div class="ml-auto">
            <button class="btn btn-sm  text-primary" style="text-align: right; cursor: pointer;" (click)="onClickExportExcel()">Export<i class="bi bi-file-earmark-spreadsheet"></i></button>
            <button class="btn btn-sm  text-danger" style="text-align: right; cursor: pointer;" (click)="ResetConditionFilter()">Reset filters <i class="bi bi-bootstrap-reboot i-re"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="head-label" for="">From Date</label>
                        <input class="form-control" type="date" formControlName="DateStart" (blur)="this.Month.reset()">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="head-label" for="">To Date</label>
                        <input class="form-control" type="date" formControlName="DateEnd" (blur)="this.Month.reset()">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="head-label" for="">Month</label>
                        <input class="form-control" type="month" formControlName="Month" (blur)="this.DateStart.reset();this.DateEnd.reset()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="head-label" for="">KTC Model Number</label>

                        <input type="search" formControlName="ModelNumber" class="form-control" (click)="ToggleFilterModelNumber();" (keyup)="OnkeyUpModelNumber();">
                        <div class="show-select">
                            <select *ngIf="ModelNumberToggle" [formControl]="TempModelNumber" size="5" class="custom-select" (change)="ToggleFilterModelNumber(); SetModelNum();">
                <option *ngFor="let item of ModelNumberFilter" [value]="item.name">{{item.name}}
                </option>
              </select>

                        </div>


                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="head-label" for="">LOT NUMBER</label>
                        <input class="form-control" type="text" formControlName="LotNumber">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="head-label" for="">PD input q'ty</label>
                        <input class="form-control" type="number" formControlName="InputQty" [min]="0">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="head-label" for="">NG q'ty</label>
                        <input class="form-control" type="number" formControlName="NgQty" [min]="0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="head-label" for="">Defect Name</label>
                        <input class="form-control" type="text" formControlName="DefectName" (click)="ToggleFilter();" (keyup)="Filter(); ClearDefectCode();" (change)="ClearDefectCode()">
                        <div [hidden]="!ToggleDefect" class="show-select">
                            <select class="custom-select" size="10" [formControl]="SelectDefect">
                <option [value]="item.defectName" *ngFor="let item of DefectFilter" (click)="OnClickSelect(item)">
                  {{item.defectName}} || Code: {{item.defectCode}}
                </option>
              </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="head-label" for="">Defect Code</label>
                        <p>{{TempDefectCode}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <label class="head-label">More Search</label>
            <i class="bi bi-toggle-off tt ml-2 " style="font-size: 2rem;" [ngClass]="{'bi-toggle-on': toggleMore}" (click)="onClickMoreSearch();"></i>
            <span></span>
            <select *ngIf="toggleMore" class="custom-select" [formControl]="SelectAnySearch" (change)="ClearAnySearch()">
        <option [value]="null">--select search--</option>
        <option value="requestor">By Requestor Name</option>
        <option value="section">By Section Requestor</option>
        <option value="requestItem">By Request Items</option>
      </select>
        </div>
    </div>

    <div class="row mt-3" *ngIf="(SelectAnySearch.value=='requestor')&& toggleMore">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="head-label">Requestor Name</label>
                <input type="text" class="form-control" [formControl]="RequestorName" (click)="ToggleRequestName();" (keyup)="FilterUser();">
                <div *ngIf="ToggleRequest">
                    <select class="custom-select show-select" size="10" [formControl]="RequestorId">
            <option *ngFor="let item of UserFilter" [value]="item._id" (click)="OnClickUser(item);">
              {{item.FirstName}} - {{item.LastName}}
            </option>
          </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3" *ngIf="(SelectAnySearch.value=='section')&&toggleMore">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="head-label">Section Requestor</label>
                <select class="custom-select" [formControl]="SectionName">
          <option *ngFor="let item of SectionList" [value]="item.name">{{item.name}}</option>
        </select>
            </div>
        </div>
    </div>

    <div class="row mt-3" *ngIf="(SelectAnySearch.value=='requestItem')&&toggleMore">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="head-label">Request Items</label>
                <select class="custom-select" [formControl]="SelectRequestItem">
          <option *ngFor="let item of RequestItems" [value]="item.name">{{item.name}}</option>
        </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-block" (click)="OnClickSearch(); setKeySearch();">Search <i class="bi bi-search"
          style="font-size: 1.5em;"></i></button>
        </div>
    </div>




</div>


<div *ngIf="rowData.length !=0" class="col-12 mt-3" style="background-color: white; padding: 40px; border-radius: 12px; box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);">

    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <button class="btn btn-block text-primary" (click)="onSaveFilter()">
        save filter
      </button>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <button class="btn btn-block text-danger" (click)="onClearFilter()">
        clear filter
      </button>
        </div>

        <div class="col-lg-12 ag-grid-h">
            <ag-grid-angular style="width: 100%; height: 100%;" (cellClicked)="onCellClicked($event)" style="width: 100%; height: 100%;" class="ag-theme-alpine" [rowData]="rowData" [debounceVerticalScrollbar]="false" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                [pagination]="false" [paginationAutoPageSize]="false" [animateRows]="true" (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </div>
    </div>

    <div class="row" *ngIf="gridApi">
        <div class="col-12 text-right">
            <span>
        Rows: {{showCountRows()}}
      </span>
        </div>
    </div>

</div>
