<div class="col-12"
  style="background-color: white; padding: 40px; border-radius: 12px; box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);">
  <div class="row">
    <div class="col-md-12 ">
      <div class="row">
        <h6>Analysis Request Form</h6>
      </div>
    </div>

    <div class="col-md-12 border-bottom">

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">Request Item</label>
            <p class="subtext-color" *ngIf="form">{{form.requestItem}}</p>
          </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">Request Number</label>
            <p class="subtext-color" *ngIf="form">{{form.requestNumber}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">Issued Date</label>
            <p class="subtext-color" *ngIf="form">{{form.issuedDate}}
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">Reply Date</label>
            <p class="subtext-color" *ngIf="form">
              {{form.replyDate}}
            </p>
          </div>

        </div>
      </div>


      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">Request from (Department-Section) </label>
            <p class="subtext-color" *ngIf="form">{{form.requestFormSectionName}}</p>
          </div>
        </div>

      </div>


    </div>

    <div class="col-md-12" style="margin-top: 50px;">
      <div class="row">
        <h6>Detail of NG Product</h6>
      </div>
    </div>

    <div class="col-md-12 border-bottom">

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="head-label" for="">Model Number</label>
                <p class="subtext-color" *ngIf="form">{{form.ktcModelNumber}}</p>
              </div>
              <div class="col-lg-3">
                <label class="head-label" for="">Size (inch)</label>
                <p class="subtext-color" *ngIf="form">{{form.size}}</p>
              </div>
              <div class="col-lg-5">
                <label class="head-label" for="">Customer</label>
                <p class="subtext-color" *ngIf="form">{{form.customer}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">CPR Lot Number/CRR Lot Number</label>
            <p class="subtext-color" *ngIf="form">{{form.pcLotNumber}}</p>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">Defective Code</label>
            <p class="subtext-color" *ngIf="form">{{form.defectiveCode}}</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">Defective Name</label>
            <p class="subtext-color" *ngIf="form">{{form.defectiveName}}</p>
          </div>
        </div>


      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">Input Quantity (Pcs)</label>
            <p class="subtext-color" *ngIf="form">{{form.inputQuantity}}</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">NG Quantity (Pcs)</label>
            <p class="subtext-color" *ngIf="form">{{form.ngQuantity}}</p>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">NG Ratio (%)</label>
            <p class="subtext-color" *ngIf="form">{{form.ngRatio | number : '.1-2'}}</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">Send NG To Analysis (Pcs)</label>
            <p class="subtext-color" *ngIf="form">{{form.sendNgAnalysis}}</p>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">Production Phase</label>
            <p class="subtext-color" *ngIf="form">{{form.productionPhase}}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">Defect Catagory</label>
            <p class="subtext-color" *ngIf="form">{{form.defectCatagory}}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">Claim no.</label>
            <p class="subtext-color" *ngIf="form">{{form.claimNo}}</p>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">Occur Place</label>
            <p class="subtext-color" *ngIf="form">{{form.occurBName}}</p>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label" for="">Abnormal Lot Level</label>
            <p class="subtext-color" *ngIf="form">{{form.abnormalLotLevel}} </p>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-12 mt-2">
          <div class="form-group">
            <label class="head-label">Issue Data</label>
            <p class="subtext-color" *ngIf="form">{{form.issuer}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-2">

          <table class="table">
            <thead>
              <th width="80%">Files</th>
              <th width="20%" class="text-center">Download</th>
            </thead>
            <tbody *ngIf="form" class="subtext-color">
              <tr *ngIf="form.files.length == 0">
                <td>
                  No files..
                </td>
                <td>

                </td>
              </tr>
              <tr *ngFor="let item of form.files; let i=index">
                <td>
                  {{item.name}}
                </td>
                <td class="text-center">
                  <a target="_blank" [download]="item.name" [href]="item.path"
                    class="btn btn-sm btn-outline-primary mr-0" style="cursor: pointer;"><i class="bi bi-download"
                      style="font-size: 1rem;"></i></a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-6">
          <label class="head-label" for="">Comment</label>
          <button class="btn btn-block" (click)="showComment(comment)">Show Comment</button>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="col-12 mt-5"
  style="background-color: white; padding: 40px; border-radius: 12px; box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);">
  <div class="row">
    <div class="col-md-12 ">
      <div class="row">
        <h6>Engineer Input Analysis Result</h6>
      </div>
    </div>

    <div class="col-md-12 border-bottom">

      <div class="row" *ngIf="form">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label">Request Number</label>
            <p class="subtext-color" *ngIf="Result">{{form.requestNumber}}</p>
          </div>

        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="head-label">Analysis Report No</label>
                        <p *ngIf="result">{{result.analysisReportNo}}</p>
                    </div>
                </div> -->

        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label">Start analyze date </label>
            <p class="subtext-color" *ngIf="Result">{{Result.startAnalyzeDate}} </p>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label class="head-label">Finished analysis result date </label>
            <p class="subtext-color" *ngIf="Result">{{Result.finishAnalyzeDate}} </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="head-label">Finish analysis report date</label>
            <p class="subtext-color" *ngIf="Result">{{Result.finishReportDate}}</p>
          </div>
        </div>
      </div>


      <div class="" [formGroup]="AnalysisForm">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label [ngClass]="{'text-danger': AnalysisFormControl.causeOfDefect.invalid}" class="head-label">Category
                Root Cause
                <i *ngIf="AnalysisFormControl.causeOfDefect.invalid" class="bi bi-x-square-fill"></i>
              </label>
              <input type="search" formControlName="causeOfDefect" class="form-control subtext-color"
                list="CategoryCauseList">
              <datalist id="CategoryCauseList">
                <option *ngFor="let item of CauseList; let i=index" [value]="item.name">{{item.name}}</option>
              </datalist>

            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label class="head-label">Analysis Result</label>
              <textarea cols="30" rows="10" class="form-control subtext-color" formControlName="result"></textarea>
              <!-- <p *ngIf="result">{{result.causeOfDefect}}</p> -->
            </div>
          </div>
        </div>

        <div class="row ">

          <div class="col-lg-3 col-md-3 col-sm-12 ">
            <div class="form-group">
              <label [ngClass]="{'text-danger': AnalysisFormControl.sourceOfDefect.invalid}" class="head-label">Source
                Of Defect
                <i *ngIf="AnalysisFormControl.sourceOfDefect.invalid" class="bi bi-x-square-fill"></i>
              </label>
              <input type="search" formControlName="sourceOfDefect" class="form-control subtext-color"
                list="sourceOfDefectList">
              <datalist id="sourceOfDefectList">
                <option *ngFor="let item of SourceList; let i=index" [value]="item.name">{{item.name}}</option>
              </datalist>

            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-12 ">
            <div class="form-group">

              <label [ngClass]="{'text-danger': AnalysisFormControl.analysisLevel.invalid}" class="head-label">Analysis
                Level
                <i *ngIf="AnalysisFormControl.analysisLevel.invalid" class="bi bi-x-square-fill"></i>
              </label>
              <input type="search" formControlName="analysisLevel" class="form-control subtext-color"
                list="analysisLevelList">
              <datalist id="analysisLevelList">
                <option *ngFor="let item of AnalysisLevelList; let i=index" [value]="item.name">{{item.name}}</option>
              </datalist>

              <!-- <label class="head-label">Analysis Level</label>
                            <input class="subtext-color form-control" formControlName="analysisLevel" type="text"> -->
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 ">
            <div class="form-group">
              <label class="head-label">Can/Can't Analysis</label>
              <select class="subtext-color form-control" formControlName="canAnalysis" type="text">
                <option disabled value="">Select</option>
                <option value="can">Can</option>
                <option value="can't">Can't</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 ">
            <div class="form-group">
              <label class="head-label">Related to ESD</label>
              <select class="subtext-color form-control" formControlName="relatedToESD" type="text">
                <option disabled value="">Select</option>
                <option value="No">No</option>
                <option value="Yes">Yes</option>
              </select>
            </div>
          </div>

        </div>
      </div>

      <div class="row mt-2">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Files</th>
                <th width="15%" class="text-center">
                  Download
                </th>
              </tr>
            </thead>
            <tbody class="subtext-color">
              <tr *ngFor="let item of tempFile; let i=index">
                <td>{{item.name}} </td>
                <td class="text-center">
                  <a target="_blank" [download]="item.name" [href]="item.path" class="btn btn-sm btn-primary mr-0"
                    style="cursor: pointer;"><i class="bi bi-download" style="font-size: 1rem;"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Report file</th>
                <th width="10%" class="text-center">
                  Download
                </th>
                <th width="10%" class="text-center">
                  Upload
                </th>
              </tr>
            </thead>
            <tbody class="subtext-color">
              <tr>
                <td *ngIf="FileReportName">
                  {{FileReportName}}
                </td>
                <td *ngIf="!FileReportName">
                  No file..
                </td>
                <td class="text-center">
                  <a *ngIf="Result" target="_blank" [download]="FileReportName" [href]="Result.file"
                    style="cursor: pointer;">
                    <button class="btn btn-primary btn-sm mr-2"><i class="bi bi-download"
                        style="font-size: 1rem;"></i></button>
                  </a>

                </td>
                <td class="text-center">

                  <input type="file" [formControl]="htmlFile" class="form-control" (change)="uploadReportFile($event)"
                    #reportUpload style="display: none;">
                  <button class="btn btn-primary btn-sm" (click)="reportUpload.click()"> <i class="bi bi-upload"
                      style="font-size: 1rem;"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>



      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12 ">
          <div class="form-group ">
            <label class="head-label" [ngClass]="{'text-danger': Approve.invalid}">Approved
              <i *ngIf="Approve.invalid" class="bi bi-x-square-fill"></i>
            </label>
            <div class="input-group mb-3 ">
              <select class="custom-select subtext-color" [formControl]="Approve" (change)="OnApproveChange()">
                <option disabled [value]="null">--select--</option>
                <option *ngFor="let item of ApproveList;" value="{{item._id}}">
                  {{item.FirstName}} {{item.LastName}} || {{item.Email}}
                </option>
              </select>
            </div>
          </div>
        </div>




      </div>

      <div class="row">
        <div class="col-6 mt-5">
          <div class="row">
            <button type="button" class="btn btn-danger btn-lg btn-block " (click)="ModalNote(rejectNote)">Reject
              <i class="bi bi-x-square-fill"></i>
            </button>
          </div>
        </div>
        <div class="col-6 mt-5">
          <div class="row">
            <button [disabled]="Approve.invalid" type="button" class="btn btn-primary btn-lg btn-block "
              (click)="ModalNote(approveNote)">APPROVE
              <i class="bi bi-check-square-fill"></i>
            </button>
          </div>
        </div>

      </div>



    </div>
  </div>
</div>


<ng-template #approveNote let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Approve Note</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label>Note</label>
      <textarea class="form-control" [formControl]="NoteApprove" cols="30" rows="10" style="height: 300px;"></textarea>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.dismiss('Cross click'); OnApprove();">APPROVE <i
        class="bi bi-check-square-fill"></i></button>
  </div>
</ng-template>

<ng-template #rejectNote let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Reject Note</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label>Note</label>
      <textarea class="form-control" [formControl]="NoteReject" cols="30" rows="10" style="height: 300px;"></textarea>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.dismiss('Cross click'); OnReject();">REJECT <i
        class="bi bi-x-square-fill"></i></button>
  </div>
</ng-template>


<ng-template #comment let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Comment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); ">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row" *ngFor="let item of CommentLists">
      <div class="col-12">
        <div class="form-group">
          <label class="label-comment">{{item.from}} <i class="bi bi-arrow-right-short" style="font-size: 1.3rem;"></i>
            {{item.to}}</label>
          <p class="box-comment" [ngClass]="item.class">{{item.note}}</p>
        </div>
      </div>
    </div>
    <!-- <div class="form-group">

        </div> -->
    <!-- <div class="modal-footer">
            <button type="button" class="btn" (click)="modal.close('Close click');"> Close</button>
        </div> -->
  </div>
</ng-template>