<div class="col-12 mt-0">
    <!-- <div class="row">
        <button class="btn btn-primary" [routerLink]="['/equipment']"><i class="bi bi-house"></i> HOME</button>
        <button class="btn btn-primary" [routerLink]="['/search-equipment']"><i class="bi bi-search"></i> SEARCH</button>
        <button class="btn btn-success" [routerLink]="['/add-equipment']"><i class="bi bi-plus-lg"></i> NEW EQUIPMENT</button>
        <button class="btn btn-secound" [routerLink]="['/manage-equipment']"><i class="bi bi-gear"></i> MANAGE EQUIPMENT</button>
        <button class="btn btn-info" [routerLink]="['/equipment-master-manage']"><i class="bi bi-gear-wide"></i> MASTER MANAGE</button>
    </div> -->
    <!-- <div class="row head-menu">
        <a class="head-item" [routerLink]="['/equipment']"><i class="bi bi-house"></i> HOME</a>
        <a class="ml-2 head-item" routerLinkActive="text-primary" [routerLink]="['/search-equipment']"><i
                class="bi bi-search"></i> SEARCH</a>
        <a class="ml-2 head-item" [routerLink]="['/add-equipment']"><i class="bi bi-plus-lg"></i> NEW EQUIPMENT</a>
        <a class="ml-2 head-item" [routerLink]="['/manage-equipment']"><i class="bi bi-gear"></i> MANAGE EQUIPMENT</a>
        <a class="ml-2 head-item" [routerLink]="['/equipment-master-manage']"><i class="bi bi-gear-wide"></i> MASTER
            MANAGE</a>
    </div> -->
    <app-head-menu></app-head-menu>

</div>
<div class="col-12" style="background-color: white; padding: 10px; border-radius: 12px; box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);">

    <div class="row">
        <div class="col-12 text-right">
            <button id="t" class="btn btn-sm text-success" (click)="onClickExport()"><i
                    class="bi bi-file-earmark-spreadsheet-fill" style="font-size: 1.3rem;"></i> export</button>
            <button class="btn btn-sm text-danger ml-2" (click)="onClickReset()"><i class="bi bi-bootstrap-reboot"
                    style="font-size: 1.3rem;"></i></button>
        </div>
    </div>

    <div class="row" [formGroup]="filterForm">
        <div class="col-3">
            <div class="form-group">
                <label for="">Analysis equipment name</label>
                <input type="text" class="form-control" formControlName="analysisEquipmentName">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="">Field</label>
                <input type="search" list="field-list" class="form-control" formControlName="field">
                <datalist id="field-list">
                    <option *ngFor="let field  of Field['lists']" [value]="field"></option>
                </datalist>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="">Country</label>
                <input type="search" list="country" class="form-control" formControlName="country">
                <datalist id="country">
                    <option *ngFor="let country of Country" [value]="country"></option>
                </datalist>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="">Province</label>
                <input type="search" list="province" class="form-control" formControlName="province">
                <datalist id="province">
                    <option *ngFor="let province of Province" [value]="province"></option>
                </datalist>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="">Analysis scope</label>
                <input type="text" class="form-control" formControlName="scope">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="">Apply for defect mode</label>
                <input type="search" list="defectMode" class="form-control" formControlName="defectMode">
                <datalist id="defectMode">
                    <option *ngFor="let defect of defectMode['lists']" [value]="defect"></option>
                </datalist>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-block btn-sm" (click)="onSearch()">SEARCH</button>
        </div>
    </div>

</div>

<div *ngIf="equipmentFiltered.length>0 && Searched" class="col-12 mt-3" style="background-color: white; padding: 20px; border-radius: 12px; box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="2%">no.</th>
                <th width="15%">img</th>
                <th>Equipment name</th>
                <th>Field</th>
                <th>Defect mode</th>
                <th>Limitation of sample</th>
                <th>Scope</th>
                <th>province</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let equipment of equipmentFiltered; let indexEQ=index">
                <tr id="row-hover" (click)="openModal(equipment)">
                    <th>{{indexEQ +1}}</th>
                    <td>
                        <div class="zoom" *ngIf="equipment['urlImage']">
                            <img [src]="equipment['urlImage']['url']" alt="" width="100%" height="150px">
                        </div>
                        <div class="zoom" *ngIf="!equipment['urlImage']">
                            <img src="#" alt="" width="100%" height="150px">
                        </div>
                    </td>
                    <td>{{equipment.analysisEquipmentName}}</td>
                    <td>{{equipment.field}}</td>
                    <td>{{equipment.defectMode}}</td>
                    <td>{{equipment.limitationOfSample}}</td>
                    <td>{{equipment.analysisScope}}</td>
                    <td>
                        <tr *ngFor="let province of equipment.province; let indexProvince=index">
                            <td>{{province.country}}</td>
                            <td>{{province.lists}}</td>
                        </tr>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <h2 *ngIf="equipmentFiltered.length==0 && Searched">no data</h2>
</div>

<!-- <app-preview-equipment></app-preview-equipment> -->