<div class="sidebar-wrapper">
    <div class="logo">
        <!-- <a href="" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="http://10.200.90.152:8081/Analysis-Report/assets/img/iconKTC.png">
            </div>
        </a> -->
        <a href="" target="" class="simple-text logo-normal" style="padding-left: 50px;">
            <img src="http://10.200.90.152:8081/Analysis-Report/assets/img/iconKTC.png" style="width: 38px; height: 25px;">
            KYOCERA
        </a>

    </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a *ngIf="menuItem.type == 'internal'" [routerLink]="[menuItem.path]">
                <div style="display: flex; align-items: center;">
                    <i class="nc-icon {{menuItem.icon}}" style="position: relative; top: -2px;"></i>
                    <p>{{menuItem.title}}</p>
                </div>
            </a>
            <a *ngIf="menuItem.type == 'external'" [href]="menuItem.path" target="_self">
                <div style="display: flex; align-items: center;">
                    <i class="nc-icon {{menuItem.icon}}" style="position: relative; top: -2px;"></i>
                    <p>{{menuItem.title}}</p>
                </div>
            </a>

        </li>
    </ul>
</div>