<div class="sidebar-wrapper">
    <div class="logo">
        <a href="" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="http://10.200.90.152:8081/Analysis-Report/assets/img/iconKTC.png">
            </div>
        </a>
        <a href="" target="" class="simple-text logo-normal">
            KYOCERA </a>
    </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <!-- <li>
            <a class="link_name" (click)="toggleAnalysisEquipment()" routerLinkActive="active">
                <i class="bi bi-tools"></i>
                <p>Equipment</p>
            </a>
            <ul id="sub-menu">
                <li *ngFor="let eItem of equipmentItemsTemp; let i=index" routerLinkActive="active">
                    <a [routerLink]="[eItem.path]">
                        <i [class]="eItem.icon"></i> {{eItem.title}}
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a href="">
                <p>tets</p>
            </a>
        </li> -->
    </ul>


</div>