<div class="loading" *ngIf="LoadingPage">
  <div class="spinner">

  </div>
</div>

<div class="d-flex">
  <div class="w-30 mr-3">
    <button routerLinkActive="btn btn-primary" [routerLink]="RouterMenu[0].path" class="btn btn-block">Input
      Database<i class="bi bi-file-earmark-plus" style="font-size: 1.5em ml-2"></i></button>
  </div>
  <div class="w-30 mr-3">
    <button *ngIf="UserLevel != 1 && UserLevel != 2" routerLinkActive="btn btn-primary"
      [routerLink]="RouterMenu[1].path" class="btn btn-block">Master
      Electrical<i class="bi bi-list-ul" style="font-size: 1.5em ml-2"></i></button>
  </div>
</div>


<div class="col-12"
  style="background-color: white; padding: 40px; border-radius: 12px; box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);">


  <div class="row">
    <div class="col-lg-6">
      <h3>INPUT DATABASE</h3>
    </div>
  </div>


  <div class="row mt-1">
    <div class="col-lg-2">
      <label for="">Model</label>
      <input class="form-control" list="listModel" (keyup)="modelList()" type="text" [(ngModel)]="model">
      <datalist id="listModel">
        <option *ngFor="let item of MasterModel" [value]="item.name">
          {{item.name}}
        </option>
      </datalist>

      <!-- <select class="form-control" name=""  [(ngModel)]="model">
        <option value=""></option>
      </select> -->


      <!-- <input class="form-conCLStrol" type="text"> -->
    </div>
    <div class="col-lg-2">
      <label for="">Size (inch)</label>
      <input class="form-control" type="text" [value]="dataOld?.size?dataOld?.size:''" readonly>
    </div>
    <div class="col-lg-3">
      <label for="">Customer</label>
      <input class="form-control" type="text" [value]="dataOld?.customer?dataOld?.customer:''" readonly>
    </div>
  </div>


  <div class="row mt-3">
    <div *ngIf="onHide[0] == 1" class="col-lg-4">
      <button [ngClass]="{'abc': dataTable == 1}" class="btn btn-block" id="Product"
        (click)="clickSelect($event)">Product Electrical Spec./Value</button>
    </div>
    <div *ngIf="onHide[1] == 1" class="col-lg-4">
      <button [ngClass]="{'abc': dataTable == 2}" class="btn btn-block abc" id="TFTDriving"
        (click)="clickSelect($event)">TFT Driving voltage</button>
    </div>
    <div *ngIf="onHide[2] == 1" class="col-lg-4">
      <button [ngClass]="{'abc': dataTable == 3}" class="btn btn-block abc" id="Resistance"
        (click)="clickSelect($event)">Resistance database</button>
    </div>
    <div *ngIf="onHide[3] == 1" class="col-lg-4">
      <button [ngClass]="{'abc': dataTable == 4}" class="btn btn-block abc" id="OTP" (click)="clickSelect($event)">Otp
        Data (1st FCT)</button>
    </div>
    <div *ngIf="onHide[4] == 1" class="col-lg-4">
      <button [ngClass]="{'abc': dataTable == 5}" class="btn btn-block abc" id="OTPFinal"
        (click)="clickSelect($event)">Otp Data (Final FCT)</button>
    </div>

  </div>



  <div *ngIf="dataTable == 1" class="myInput mt-3 " style="width: 100%">
    <div class="row mt-3">
      <div class="col-lg-12">
        <div class="row d-flex justify-content-between" style="margin: 1px;">
          <h5 class="d-flex align-items-center" style="margin: 0px;font-weight: bold;">Product Electrical Spec.</h5>
          <div *ngIf="dataTable == 1">
            <button (click)="ExportExcel()" class="btn btn-sm  text-primary"
              style="text-align: right; cursor: pointer;">Export <i class="bi bi-file-earmark-spreadsheet"></i></button>
          </div>
        </div>
      </div>


      <div class="col-lg-12 align-self-center pt-2 ">
        <div class="row">
          <div class="" style="margin-left: 1em;width: 32.7em;">
            <label for="" style="font-size: 19px; font-weight: bold;">Measurement Pattern :</label>
            <span style="color: blue; font-size: 19px"> {{Datalist.pattern}}</span>
          </div>
          <div class="">
            <!-- <button class="" (click)="addInput(item)"><i class="bi bi-plus-square"></i></button> -->
            <button class="btn H1" style="padding: 0 0 0 0;margin: 0;" (click)="addInput(item)">
              <i class="bi bi-file-earmark-plus" style="font-size: 27px"></i></button>
            <button *ngIf="data[0].ng.length > 1" class="btn H2" style="padding: 0 0 0 0;margin: 0;"
              (click)="delInput(item)">
              <i class="bi bi-file-earmark-minus" style="font-size: 27px"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="model" class="row mt-2 col-lg-12" style="margin-right: 0%;">
      <div class="col-12">
        <div class="row">
          <div class="" style="width: 33em">
          </div>
          <div class="">

          </div>

        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="" style="width: 10em">
            <!-- <label for="">Name (Unit)</label> -->
            <label class="myInput text-center B header d-flex align-items-center"
              style="width: 10em ; height:100%;">Name (Unit)</label>
          </div>
          <div class="" style="width: 5em">
            <!-- <label for="">Min.</label> -->
            <label class="myInput text-center B header d-flex align-items-center"
              style="width: 5em ; height:100%;">Min.</label>
          </div>
          <div class="" style="width: 6em">
            <!-- <label for="">Typ.</label> -->
            <label class="myInput text-center B header d-flex align-items-center"
              style="width: 6em ; height:100%;">Typ.</label>
          </div>
          <div class="" style="width: 6em">
            <!-- <label for="">Max.</label> -->
            <label class="myInput text-center B header d-flex align-items-center"
              style="width: 6em ; height:100%;">Max.</label>
          </div>
          <div class="" style="width: 6em">
            <!-- <label for="">Good sample</label> -->
            <label class="d-flex myInput text-center B header align-items-center justify-content-center"
              style="width: 6em ; height:100%;">Good sample</label>
          </div>
          <div *ngFor="let item of data[0].ng ; let i = index">
            <div class="" style="width: 6em">
              <!-- <label for="">NG/Test sample</label> -->
              <label class="d-flex myInput text-center B header align-items-center justify-content-center"
                style="width: 6em ; height:100%;">NG/Test samp {{i+1}}</label>
            </div>
          </div>

        </div>

        <div class="row" *ngFor="let row of data; let i=index">
          <div class="col-12">
            <div class="row">
              <div class="">
                <button class="myInput text-center B item" style="width: 10em">{{row.name || "-" }}</button>
              </div>
              <div class="">
                <button class="myInput text-center" style="width: 5em">{{row.min||0}}</button>
              </div>
              <div class="">
                <button class="myInput text-center" style="width: 6em">{{row.typ||0}}</button>
              </div>
              <div class="">
                <button class="myInput text-center" style="width: 6em ;">{{row.max||0}}</button>
              </div>
              <div class="">
                <button class="myInput text-center" style="width: 6em ;">{{row.good||0}}</button>
              </div>
              <div class="" *ngFor="let ng of row.ng; let i_ng=index">
                <input class="myInput text-center" [id]="('drop'+i)+i_ng"
                  [ngClass]="{'myInputGreen': (ng.status == true && ng.value != null),'myInputRed': (ng.status == false && ng.value != null)}"
                  [(ngModel)]="ng.value" type="number" style="width: 6em ;cursor: initial;"
                  (keyup)="calculator(row,i_ng)" (keyup.enter)="dropdown(i,i_ng,data)" data-bs-toggle="tooltip"
                  data-bs-html="true" [title]="row.name">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="mt-4"></div>
  </div>



  <app-electrical-tft-driving *ngIf="dataTable && dataTable == 2" [model]="model"
    [dataMain]="dataOld"></app-electrical-tft-driving>
  <app-electrical-resistance *ngIf="dataTable && dataTable == 3" [model]="model"
    [dataMain]="dataOld"></app-electrical-resistance>
  <app-electrical-otp *ngIf="dataTable && dataTable == 4" [model]="model" [dataTable]="dataTable"
    [dataMain]="dataOld"></app-electrical-otp>
  <app-electrical-otp *ngIf="dataTable && dataTable == 5" [model]="model" [dataTable]="dataTable"
    [dataMain]="dataOld"></app-electrical-otp>

  <!-- <button (click)="testing()">aksdkaskdkase</button> -->

</div>

<div>

</div>
<!-- <input type="text" placeholder="Username" (keyup.enter)="index.focus()">
<input [id]="index" type="text"placeholder="Password" > -->

<!--
<button (click)="ExportExcel2()" > slkdkljalskdf</button>
<app-electrical-search></app-electrical-search> -->
