<div class="loading" *ngIf="LoadingPage">
  <div class="spinner">

  </div>
</div>

<div class="d-flex">
  <div class="w-30 mr-3">
    <button routerLinkActive="btn btn-primary" [routerLink]="RouterMenu[0].path" class="btn btn-block">Input
      Database<i class="bi bi-file-earmark-plus" style="font-size: 1.5em ml-2"></i></button>
  </div>
  <div class="w-30 mr-3">
    <button *ngIf="UserLevel != 1 && UserLevel != 2" routerLinkActive="btn btn-primary" [routerLink]="RouterMenu[1].path" class="btn btn-block">Master
      Electrical<i class="bi bi-list-ul" style="font-size: 1.5em ml-2"></i></button>
  </div>
</div>


<div class="col-12"
  style="background-color: white; padding: 40px; border-radius: 12px; box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);">

  <!-- <div class="row">
    <div class="col-lg-6">
      <h3>INPUT DATABASE</h3>
    </div>
  </div> -->


  <div class="row mt-5">
    <div class="col-lg-2">
      <label for="">Model</label>
      <input class="form-control" list="listModel" (keyup)="modelList()" type="text" [(ngModel)]="model">
      <datalist id="listModel">
        <option *ngFor="let item of MasterModel" [value]="item.name">
          {{item.name}}
        </option>
      </datalist>

      <!-- <select class="form-control" name=""  [(ngModel)]="model">
        <option value=""></option>
      </select> -->


      <!-- <input class="form-control" type="text"> -->
    </div>
    <div class="col-lg-2">
      <label for="">Size (inch)</label>
      <input class="form-control" type="text" [value]="dataOld?.size?dataOld?.size:''" readonly>
    </div>
    <div class="col-lg-3">
      <label for="">Customer</label>
      <input class="form-control" type="text" [value]="dataOld?.customer?dataOld?.customer:''" readonly>
    </div>
  </div>


  <div class="row mt-3">
    <div *ngIf="onHide[0] == 1" class="col-lg-4">
      <button [ngClass]="{'abc': dataTable == 1}" class="btn btn-block" id="Product"
        (click)="clickSelect($event)">Product Electrical Space./Value</button>
    </div>
    <!-- <div *ngIf="onHide[1] == 1" class="col-lg-4">
      <button [ngClass]="{'abc': dataTable == 2}" class="btn btn-block abc" id="test"
        (click)="clickSelect($event)">test</button>
    </div> -->
  </div>



  <div *ngIf="dataTable == 1" class="myInput mt-3 " style="width: 47em">
    <div class="row mt-3">
      <div class="col-lg-12">
        <h5>Product Electrical Space./Value</h5>
      </div>
      <div class="col-lg-12 align-self-center ">

        <span for=""><b>Pattern : </b>{{Datalist.pattern}}</span>
      </div>
    </div>

    <div *ngIf="model" class="row mt-3 col-lg-12">
      <div class="mr-1">
        <label for=""><b>Name (Unit)</b></label>
        <div class="mt-1" *ngFor="let item of data">
          <button class="myInput" style="width: 12em">{{item.name || "-" }}</button>
          <!-- <input class="form-control" [(ngModel)]="item.min" type="text"> -->
        </div>
      </div>
      <div class="mr-1">
        <label for=""><b>Min.</b></label>
        <div class="mt-1" *ngFor="let item of data">
          <button class="myInput" style="width: 5em">{{item.min||0}}</button>
          <!-- <input class="form-control" [(ngModel)]="item.min" type="text"> -->
        </div>
      </div>
      <div class="mr-1">
        <label for=""><b>Typ.</b></label>
        <div class="mt-1" *ngFor="let item of data">
          <button class="myInput" style="width: 5em">{{item.typ||0}}</button>
          <!-- <input class="form-control" [(ngModel)]="item.typ" type="text"> -->
        </div>
      </div>
      <div class="mr-1">
        <label for=""><b>Max</b></label>
        <div class="mt-1" *ngFor="let item of data">
          <button class="myInput" style="width: 5em">{{item.max||0}}</button>
          <!-- <input class="form-control" [(ngModel)]="item.max" type="text"> -->
        </div>
      </div>
      <div class="mr-1">
        <label for=""><b>Good</b></label>
        <div class="mt-1" *ngFor="let item of data">
          <button class="myInput" style="width: 6em">{{item.good||0}}</button>
          <!-- <input class="form-control" [(ngModel)]="item.good" type="text"> -->
        </div>
      </div>
      <div class="">
        <label for=""><b>NG</b></label>
        <div class="mt-1" *ngFor="let item of data">
          <input [ngClass]="item.status == true ? 'myInputGreen' : 'myInputRed'" [(ngModel)]="item.Ng" type="number"
            style="width: 7em" (keyup)="calculator()" (change)="calculator()">
        </div>
      </div>
    </div>

    <div class="mt-4"></div>
  </div>
  <div *ngIf="dataTable == 1" class="row mt-3">
    <div class="col-lg-3">
      <button (click)="ExportExcel()" class="btn btn-sm  text-primary"
        style="text-align: right; cursor: pointer;">Export <i class="bi bi-file-earmark-spreadsheet"></i></button>
    </div>
  </div>


  <app-electrical-search *ngIf="dataTable == 2" [model]="'3000'"></app-electrical-search>
</div>
