<div class="loading" *ngIf="LoadingPage">
  <div class="spinner">

  </div>
</div>

<div class="col-12" (change)="CheckEmpty()"
  style="background-color: white; padding: 40px; border-radius: 12px; box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);">


  <div class="row">
    <div class="col-lg-6">
      <h3>EDIT DATA</h3>
    </div>
  </div>


  <!-- ! ---------------------------------------- RESET -->
  <!-- <div class="row">
      <div class="col-lg-12 d-flex justify-content-end">
        <button class="btn btn-sm  text-danger" style="text-align: right; cursor: pointer;"
          (click)="ResetConditionFilter()">Reset Data <i class="bi bi-bootstrap-reboot i-re">
          </i></button>
      </div>
    </div> -->
  <!-- ! ---------------------------------------- RESET -->


  <!-- ! ----------------------------------------ROW 1 -->
  <div class="row">
    <div class="col-lg-4">
      <label for="">Register No.</label>
      <input list="" [(ngModel)]="RegisNo" name="" class="form-control" readonly>
    </div>
    <div class="col-lg-2">
      <label for="">Custom Year</label>
      <select disabled class="form-control" name="selectAction" [(ngModel)]="customYear">
        <option *ngFor="let item of yearList" [value]="item">
          {{item}}
        </option>
      </select>
    </div>
  </div>
  <!-- this.yearList -->
  <!-- ! ----------------------------------------ROW 1 -->



  <!-- ! ----------------------------------------ROW 2 -->
  <div class="row pt-3">
    <div class="col-lg-2">
      <label [ngClass]="{'text-danger': !CkModel}" for="">Model Number <i *ngIf="!CkModel" class="bi bi-x-square-fill"></i></label>
      <!-- <input [(ngModel)]="CkModel" list="listModelNum" id="" name="" class="form-control" (ngModelChange)="checkMs()" >
      <datalist id="listModelNum">
        <option *ngFor="let item of ModelNumberFilter" [value]="item.name">{{item.name}}
        </option>
      </datalist> -->
      <select [ngClass]="{'error': !CkModel}" class="form-control" name="" id="" #test [(ngModel)]="CkModel" (ngModelChange)="checkMs()">
        <option value=""></option>
        <option *ngFor="let item of ModelNumberFilter" [value]="item.name">{{item.name}}
        </option>
      </select>
    </div>
    <div class="col-lg-2">
      <label for="">Size (inch)</label>
      <input type="text" [(ngModel)]="Size" class="form-control" [value]="datalist?.size?datalist?.size:''" readonly>
    </div>
    <div class="col-lg-2">
      <label for="">Customer</label>
      <input type="text" [(ngModel)]="Customer" class="form-control" [value]="datalist?.customer?datalist?.customer:''" readonly>
    </div>
    <div class="col-lg-2">
      <label [ngClass]="{'text-danger': !DefectiveName}" for="">Defective Part <i *ngIf="!DefectiveName" class="bi bi-x-square-fill"></i></label>
      <input [ngClass]="{'error': !DefectiveName}" type="text" [(ngModel)]="DefectiveName" list="defectPart" class="form-control">
      <datalist id="defectPart">
        <option *ngFor="let item of defectPart " [value]="item.defectName">{{item.defectName}}
        </option>
      </datalist>
    </div>
    <div class="col-lg-4">
      <label for="">Refer KTC Analysis Request No.</label>
      <input type="text" [(ngModel)]="ReferKTC" class="form-control">
    </div>
  </div>
  <!-- ! ----------------------------------------ROW 2 -->

  <!-- ! ----------------------------------------ROW 3 -->
  <div class="row pt-3">
    <div class="col-lg-4">
      <label [ngClass]="{'text-danger': !CauseOfDefective}" for="">Cause of Defective <i *ngIf="!CauseOfDefective" class="bi bi-x-square-fill"></i></label>
      <!-- <input type="text" [(ngModel)]="CauseOfDefective" list="listCauseO" class="form-control">
      <datalist id="listCauseO">
        <option *ngFor="let item of listCauseO" [value]="item">{{item}}
        </option>
      </datalist> -->
      <select [ngClass]="{'error': !CauseOfDefective}" class="form-control" name="" [(ngModel)]="CauseOfDefective">
        <option value=""></option>
        <option *ngFor="let item of listCauseO" [value]="item">{{item}}
        </option>
      </select>
    </div>
    <div class="col-lg-4">
      <label [ngClass]="{'text-danger': !MakerSup}" for="">Maker/Supplier Name <i *ngIf="!MakerSup" class="bi bi-x-square-fill"></i></label>
      <!-- <input type="text" [(ngModel)]="MakerSup" list="listMaker" class="form-control">
      <datalist id="listMaker">
        <option *ngFor="let item of listMaker" [value]="item">{{item}}
        </option>
      </datalist> -->
      <select [ngClass]="{'error': !MakerSup}" class="form-control" name="" [(ngModel)]="MakerSup">
        <option value=""></option>
        <option *ngFor="let item of listMaker" [value]="item">{{item}}
        </option>
      </select>
    </div>
  </div>
  <!-- ! ----------------------------------------ROW 3 -->

  <!-- ! ----------------------------------------ROW 4 -->
  <div class="row pt-3">
    <div class="col-lg-4">
      <label [ngClass]="{'text-danger': !ProductionPh}" for="">Production Phase <i *ngIf="!ProductionPh" class="bi bi-x-square-fill"></i></label>
      <!-- <input list="listProduction" id="" name="" [(ngModel)]="ProductionPh" class="form-control">
      <datalist id="listProduction">
        <option *ngFor="let item of ProductPhaseList" [value]="item.name">{{item.name}}
        </option>
      </datalist> -->
      <select [ngClass]="{'error': !ProductionPh}" class="form-control" name="" [(ngModel)]="ProductionPh">
        <option value=""></option>
        <option *ngFor="let item of ProductPhaseList" [value]="item.name">{{item.name}}
        </option>
      </select>
    </div>
    <div class="col-lg-4">
      <label [ngClass]="{'text-danger': !DefectCategory}" for="">Defect Category <i *ngIf="!DefectCategory" class="bi bi-x-square-fill"></i></label>
      <!-- <input list="IdDefectCategory" id="" name="" [(ngModel)]="DefectCategory" class="form-control">
      <datalist id="IdDefectCategory">
        <option *ngFor="let item of IdDefectCategoryList" [value]="item.name">{{item.name}}
        </option>
      </datalist> -->
      <select [ngClass]="{'error': !DefectCategory}" class="form-control" name="" [(ngModel)]="DefectCategory">
        <option value=""></option>
        <option *ngFor="let item of IdDefectCategoryList" [value]="item.name">{{item.name}}
        </option>
      </select>
    </div>
  </div>
  <!-- ! ----------------------------------------ROW 4 -->

  <!-- * -------------------------------------------------Occur Place A -->
  <div class="row pt-3">
    <div class="col-lg-4">
      <label [ngClass]="{'text-danger': !DataOccurAList}" for="">Occur Place A <i *ngIf="!DataOccurAList" class="bi bi-x-square-fill"></i></label>
      <!-- <input #test [(ngModel)]="DataOccurAList" list="OccurALists" id="" name="" class="form-control"
        (input)="GetOccurBList()">
      <datalist id="OccurALists">
        <option *ngFor="let item of OccurAList" [value]="item.name">
        </option>
      </datalist> -->
      <select [ngClass]="{'error': !DataOccurAList}" class="form-control" name="" #test [(ngModel)]="DataOccurAList" (change)="GetOccurBList();CLS()">
        <option value=""></option>
        <option *ngFor="let item of OccurAList" [value]="item.name">{{item.name}}
        </option>
      </select>
    </div>
    <!-- * -------------------------------------------------Occur Place A -->

    <!-- * -------------------------------------------------Occur Place B -->
    <div class="col-lg-4">
      <label [ngClass]="{'text-danger': !OccurBListCk}" for="">Occur Place B <i *ngIf="!OccurBListCk" class="bi bi-x-square-fill"></i></label>
      <!-- <input [(ngModel)]="OccurBListCk" list="OccurBLists" name="" class="form-control" [disabled]="!OccurBListCk">
      <datalist id="OccurBLists">
        <option *ngFor="let item1 of OccurBList" [value]="item1.name">
        </option>
      </datalist> -->
      <select [ngClass]="{'error': !OccurBListCk}" class="form-control" name="" [(ngModel)]="OccurBListCk" [disabled]="!DataOccurAList">
        <option value=""></option>
        <option *ngFor="let item1 of OccurBList" [value]="item1.name">{{item1.name}}
        </option>
      </select>
    </div>
  </div>
  <!-- * -------------------------------------------------Occur Place B -->


  <div class="row pt-3">
    <div class="col-lg-12">
      <label [ngClass]="{'text-danger': !AnalysisResult}" for="">Analysis result <i *ngIf="!AnalysisResult" class="bi bi-x-square-fill"></i></label>
      <textarea [ngClass]="{'error': !AnalysisResult}" [(ngModel)]="AnalysisResult" class="form-control"></textarea>
    </div>
  </div>


  <!-- * -------------------------------------------------UploadFile 1------------------------------------------------->
  <!-- <div class="row pt-3">
    <div class="col-lg-12">
      <label for="">File</label>
      <input class="ml-1" type="file" #fileUpload [multiple]="true" (change)="upload($event)">
    </div>
    <div class="col-lg-12">
      <ul>
        <li *ngFor="let file of listFile ;let i =index" class="d-flex align-items-center justify-content-between">
          {{i+1}}. {{file.name}}
          <button class="btn btn-sm text-primary" (click)="onClickDel(file)">Delete</button>
        </li>
      </ul>
    </div>
  </div> -->

<!-- {{this.tempUpload|json}} -->
  <div class="row pt-3">
    <div class="col-lg-12">
      <label [ngClass]="{'text-danger': (tempUpload.length == 0 && this.urlOld.length == 0 ) }" for="">File</label>
      <input class="ml-1 not" type="file" #fileUpload [multiple]="true" (change)="upload($event)">
      <span [ngClass]="{'text-danger': (tempUpload.length == 0 && this.urlOld.length == 0) }">( Max upload file size 30 MB )</span>
    </div>
    <div class="col-lg-12">
      <ul>

        <li *ngFor="let file of urlOld ;let i =index" class="d-flex align-items-center justify-content-between">
          <span>
            <span>{{i+1}}. </span>
            <span class="mr-3">{{file.name}} </span>
          </span>
          <span>
            <span class="mr-3" *ngIf="file.size" >{{file.size|fileSize}}</span>
            <button class="btn btn-sm text-primary" [disabled]="!ChecksEmpty && file.size" (click)="onClickDel(file)">Delete</button>
          </span>
        </li>
        <li *ngFor="let file of tempUpload ;let i =index" class="d-flex align-items-center justify-content-between">
          <span>
            <span>{{urlOld.length+i+1}}. </span>
            <!-- <span>{{1}}. </span> -->
            <span class="mr-3">{{file.name}} </span>
          </span>
          <span>
            <span class="mr-3" *ngIf="file.size" >{{file.size|fileSize}}</span>
            <button class="btn btn-sm text-primary" [disabled]="!ChecksEmpty && file.size" (click)="onClickDel(file)">Delete</button>
          </span>
        </li>
      </ul>
    </div>
  </div>



  <!-- * -------------------------------------------------UploadFile 1------------------------------------------------->

  <!-- * -------------------------------------------------UploadFile 2------------------------------------------------->
  <div class="d-flex justify-content-center">
    <div>
      <button class="btn btn-primary"  [disabled]="checkFile()" [disabled]="!ChecksEmpty && tempUpload"  (click)="submit();updates();CheckEmpty()">Update Analysis Database</button>
      <button class="btn btn-back" (click)="updates()" [disabled]="urlOld.length == 0" onclick="self.close()" >close</button>
      <span class="ml-3" [hidden]="!EmSize">{{this.EmSize|fileSize}}</span>
    </div>
  </div>

  <!-- * -------------------------------------------------UploadFile 2------------------------------------------------->
  <!-- <script src="xlsx.bundle.js"></script>
  <select *ngIf="test.length>0" >
        <option *ngFor="let item of test; let i=index"  >
            {{item._id}}
        </option>
    </select>
  <select class="col-lg-12" *ngIf="goo.length>0" (change)="foo($event)" >
        <option *ngFor="let item of goo; let i=index" [value]="item._id">
            {{item._id}}
        </option>
    </select> -->

  <!-- <input type="text" class="form-control" (input)="onSearchChange($event.target.value)"> -->
 <!-- <button (click)="test222()" >asdkaskekaweqwe</button> -->
</div>
