<div class="loading" *ngIf="LoadingPage"></div>
<!--  todo --------------------------------------------------------- -->
<button (click)="scrollTo('top')" class="btn btn-dark" id="myBtn" title="Go to top"><i class="bi bi-caret-up"></i>
    Top</button>

<div class="row mb-3 p-2 text-head template" id="top">
    <!-- <div class="col-12 text-head"> -->

    <div class="col-lg-3 col-sm-12">
        <button class="btn btn-block btn-primary" (click)="onClickYear()">This Year</button>
    </div>
    <div class="col-lg-3 col-sm-12">
        <span>Month</span>
        <input type="month" class="form-control" [(ngModel)]="SELECTED_MONTH" (change)="onChangeMonth()">
    </div>

    <div class="col-lg-3 col-sm-12">
        <span>Date Start</span>
        <input type="date" class="form-control" [(ngModel)]="SELECTED_DATE_START" (change)="onChangeDateRange()">
    </div>

    <div class="col-lg-3 col-sm-12">
        <span>Date End</span>
        <input type="date" class="form-control" [(ngModel)]="SELECTED_DATE_END" (change)="onChangeDateRange()" [min]="MIN_DATE_START">
    </div>
    <!-- </div> -->

</div>

<div class="row">
    <div class="col-12">
        <a (click)="scrollTo('ResultOnTime')" class="ml-2">#ResultOnTime</a>
        <a (click)="scrollTo('RequestSheetQty')" class="ml-2">#RequestSheetQ'ty</a>
        <a (click)="scrollTo('FailureRank')" class="ml-2">#FailureRank</a>
        <a (click)="scrollTo('TopDefective')" class="ml-2">#TopDefective</a>
        <a (click)="scrollTo('TopCategoryCause')" class="ml-2">#TopCategoryCause</a>
        <a (click)="scrollTo('EachEngineer')" class="ml-2">#EachEngineer</a>
    </div>
</div>

<div class="row template" *ngIf="ChartOnTime" #ResultOnTime id="ResultOnTime">
    <div class="col-12 text-head">
        <h5>Result On Time</h5>
    </div>
    <div class="line-under"></div>

    <div class="col-12">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <div class="card card-stats">

                    <div class="card-body ">
                        <div class="row">
                            <div class="col-1 col-md-2">
                                <div class="icon-big text-center icon-warning">
                                    <i class="bi bi-columns-gap text-warning"></i>
                                </div>
                            </div>
                            <div class="col-11 col-md-10">

                                <div class="numbers">
                                    <p class="card-category">ALL REQUEST ANALYSIS ON TIME</p>
                                    <p *ngIf="toggleOnTime('ALL')" class="card-title">
                                        <span style="font-size: small;">Summary from ( PNL, MDL, DST FM,
                                            SMT
                                            )</span>
                                        <i class="bi bi-alarm-fill text-warning" style="font-size: 2.4rem;"></i> On Time : {{ ChartOnTime.ALL.percent }}
                                    </p>
                                    <p *ngIf="!toggleOnTime('ALL')" class="card-title">
                                        <span style="font-size: small;">Summary from ( PNL, MDL, DST FM,
                                            SMT
                                            )</span> No result
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats" *ngIf="toggleOnTime('ALL')">
                            <!-- <i class="fa fa-refresh"></i> Update: {{ ChartOnTime.ALL.timeUpdate |date:'dd/MM/yyyy' }} -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">

            <!-- PNL -->
            <div class="col-lg-3 col-md-3 col-sm-12 ">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="numbers">
                                    <p class="card-category">PNL</p>
                                    <p *ngIf="ChartCorrectAnalysis" class="text-left">
                                        <span class="font-weight-bold text-success" style="font-size: medium; ">
                                    <i class="bi bi-check " style="font-size: 2.4rem;"></i>
                                    Correct Analysis :
                                </span>
                                        <span>{{ ChartCorrectAnalysis.PNL.percent }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="numbers">
                                    <p class="text-left">
                                        <span class="font-weight-bold text-warning" style="font-size: medium;">
                                    <i class="bi bi-alarm-fill " style="font-size: 2.4rem;"></i>
                                    On Time :
                                </span>
                                        <span *ngIf="toggleOnTime('PNL')">{{ ChartOnTime.PNL.percent }}</span>
                                        <span *ngIf="!toggleOnTime('PNL')" class="text-left percent-font">No
                                    result</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <!-- MDL -->
            <div class="col-lg-3 col-md-3 col-sm-12 ">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="numbers">
                                    <p class="card-category">MDL</p>
                                    <p *ngIf="ChartCorrectAnalysis" class="text-left">
                                        <span class="font-weight-bold text-success" style="font-size: medium; ">
                                    <i class="bi bi-check " style="font-size: 2.4rem;"></i>
                                    Correct Analysis :
                                </span>
                                        <span>{{ ChartCorrectAnalysis.MDL.percent }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="numbers">
                                    <p class="text-left">
                                        <span class="font-weight-bold text-warning" style="font-size: medium;">
                                    <i class="bi bi-alarm-fill " style="font-size: 2.4rem;"></i>
                                    On Time :
                                </span>
                                        <span *ngIf="toggleOnTime('MDL')">{{ ChartOnTime.MDL.percent }}</span>
                                        <span *ngIf="!toggleOnTime('MDL')" class="text-left percent-font">No
                                    result</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>






            <!-- DST_FM -->
            <div class="col-lg-3 col-md-3 col-sm-12 ">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="numbers">
                                    <p class="card-category">DST_FM</p>
                                    <p *ngIf="ChartCorrectAnalysis" class="text-left">
                                        <span class="font-weight-bold text-success" style="font-size: medium; ">
                                    <i class="bi bi-check " style="font-size: 2.4rem;"></i>
                                    Correct Analysis :
                                </span>
                                        <span>{{ ChartCorrectAnalysis.DST_FM.percent }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="numbers">
                                    <p class="text-left">
                                        <span class="font-weight-bold text-warning" style="font-size: medium;">
                                    <i class="bi bi-alarm-fill " style="font-size: 2.4rem;"></i>
                                    On Time :
                                </span>
                                        <span *ngIf="toggleOnTime('DST_FM')">{{ ChartOnTime.DST_FM.percent }}</span>
                                        <span *ngIf="!toggleOnTime('DST_FM')" class="text-left percent-font">No
                                    result</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <!-- SMT -->
            <div class="col-lg-3 col-md-3 col-sm-12 ">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="numbers">
                                    <p class="card-category">SMT</p>
                                    <p *ngIf="ChartCorrectAnalysis" class="text-left">
                                        <span class="font-weight-bold text-success" style="font-size: medium; ">
                                    <i class="bi bi-check " style="font-size: 2.4rem;"></i>
                                    Correct Analysis :
                                </span>
                                        <span>{{ ChartCorrectAnalysis.SMT.percent }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="numbers">
                                    <p class="text-left">
                                        <span class="font-weight-bold text-warning" style="font-size: medium;">
                                    <i class="bi bi-alarm-fill " style="font-size: 2.4rem;"></i>
                                    On Time :
                                </span>
                                        <span *ngIf="toggleOnTime('SMT')">{{ ChartOnTime.SMT.percent }}</span>
                                        <span *ngIf="!toggleOnTime('SMT')" class="text-left percent-font">No
                                    result</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>




</div>



<div class="row template mt-3" id="RequestSheetQty">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Request Sheet Q'ty</h5>
            </div>
            <div class="card-body ">
                <canvas id="RequestSheetChart"></canvas>
            </div>
            <div class="card-footer ">

                <hr>
                <div class="stats">
                    <!-- <i class="fa fa-calendar"></i>Update: {{UpdateRequestSheet}} -->
                </div>
            </div>
        </div>
    </div>

    <!-- Failure Rank -->
    <div class="col-md-6" id="FailureRank">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Failure Rank</h5>
                <!-- <p class="card-category">24 Hours performance</p> -->
            </div>
            <div class="card-body ">
                <canvas id=FailureRankChart></canvas>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <!-- <i class="fa fa-history"></i> Update: {{UpdateRequestSheet}} -->
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row template mt-3" id="TopDefective">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <h5 class="text-head">Top 5 Defective</h5>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-primary" (click)="onClickDefectFilter('modelCode')">Model Code</button>
                <button class="btn btn-warning" (click)="onClickDefectFilter('process')">Process</button>
            </div>
        </div>
    </div>

    <div class="col-md-12 ">
        <div class="card">
            <div class="card-header ">
                <h5 class="card-title">PNL</h5>
                <!-- <p class="card-category">Last Campaign Performance</p> -->
            </div>
            <div class="card-body">
                <canvas id="DefectChartPNL" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <!-- <i class="fa fa-calendar"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 ">
        <div class="card">
            <div class="card-header ">
                <h5 class="card-title">MDL</h5>
                <!-- <p class="card-category">Last Campaign Performance</p> -->
            </div>
            <div class="card-body">
                <canvas id="DefectChartMDL" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <!-- <i class="fa fa-calendar"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 ">
        <div class="card">
            <div class="card-header ">
                <h5 class="card-title">DST_FM</h5>
                <!-- <p class="card-category">Last Campaign Performance</p> -->
            </div>
            <div class="card-body">
                <canvas id="DefectChartDST_FM" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <!-- <i class="fa fa-calendar"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-12 ">
        <div class="card">
            <div class="card-header ">
                <h5 class="card-title">SMT</h5>
                <!-- <p class="card-category">Last Campaign Performance</p> -->
            </div>
            <div class="card-body">
                <canvas id="DefectChartSMT" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <!-- <i class="fa fa-calendar"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row template mt-3" id="TopCategoryCause">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <h5 class="text-head">Top 5 Category cause</h5>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-primary" (click)="onClickCauseFilter('modelCode')">Model Code</button>
                <button class="btn btn-warning" (click)="onClickCauseFilter('process')">Process</button>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">PNL</h5>
                <!-- <p class="card-category">24 Hours performance</p> -->
            </div>
            <div class="card-body ">
                <canvas id="CauseChartPNL" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <div class="chart-legend">

                </div>
                <hr />
                <div class="card-stats">
                    <!-- <i class="fa fa-check"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">MDL</h5>
                <!-- <p class="card-category">24 Hours performance</p> -->
            </div>
            <div class="card-body ">
                <canvas id="CauseChartMDL" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <div class="chart-legend">

                </div>
                <hr />
                <div class="card-stats">
                    <!-- <i class="fa fa-check"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">DST_FM</h5>
                <!-- <p class="card-category">24 Hours performance</p> -->
            </div>
            <div class="card-body ">
                <canvas id="CauseChartDST_FM" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <div class="chart-legend">

                </div>
                <hr />
                <div class="card-stats">
                    <!-- <i class="fa fa-check"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">SMT</h5>
                <!-- <p class="card-category">24 Hours performance</p> -->
            </div>
            <div class="card-body ">
                <canvas id="CauseChartSMT" height="70%"></canvas>
            </div>
            <div class="card-footer ">
                <div class="chart-legend">

                </div>
                <hr />
                <div class="card-stats">
                    <!-- <i class="fa fa-check"></i> Update: {{OntimePnl}} -->
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row template mt-3" id="EachEngineer">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Each Engineer</h5>
                <!-- <p class="card-category">Coming soon....</p> -->
            </div>
            <div class="card-body ">
                <!-- {{EngineerLists|json}} -->
                <canvas id="ChartEngineer" height="100%"></canvas>
            </div>
            <div class="card-footer ">
                <div class="chart-legend">

                    <hr />
                    <div class="card-stats">
                        <!-- <i class="fa fa-check"></i> -->
                        <!-- Update: {{EngineerUpdateTime}} -->
                    </div>
                </div>
            </div>
        </div>
    </div><br />
