.s-dd {
    width: 100%;
}

.not-valid {
    border: rgb(36, 209, 36) 1.5px solid;
    border-radius: 5px;
}

.valid {
    border: red 1.5px solid;
    border-radius: 5px;
}

.head-label {
    font-weight: 600;
}

.show-select {
    position: absolute;
    z-index: 999;
    width: 100%;
}

.loading {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(180, 180, 180, 0.938);
    width: 100%;
    height: 100%;
    z-index: 999999;
    animation: fade 0.25s linear 0.25s infinite alternate;
}

@keyframes fade {
    0% {
        background-color: rgba(180, 180, 180, 0.938);
    }
    100% {
        background-color: rgba(136, 136, 136, 0.938);
    }
}

.test {
    color: rgb(0, 0, 200);
}