.Row-Table {
    transition: all ease 0.25s;
}

.Row-Table:hover {
    transition: all ease 0.25s;
    /* color: red; */
    cursor: pointer;
    background-color: rgba(124, 124, 124, 0.205);
}

.green-status {
    color: rgb(8, 201, 8);
}

.primary-status {
    color: rgb(19, 41, 236);
}

.red-status {
    color: rgb(240, 36, 36);
}


/* .tableFixHead {
    overflow: auto;
    height: 600px;
    width: 100%;
} */

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.spinner {
    z-index: 21;
    position: relative;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(180, 180, 180, 0.938);
    width: 100%;
    height: 100%;
    z-index: 20;
    animation: fade 0.25s linear 0.25s infinite alternate;
}

@keyframes fade {
    0% {
        background-color: rgba(180, 180, 180, 0.938);
    }
    100% {
        background-color: rgba(136, 136, 136, 0.938);
    }
}

.tableFixHead {
    overflow: auto;
    height: 700px;
    width: 100%;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.Ongoing {
    background-color: lightyellow;
}

.OngoingWithDelay {
    background-color: orange;
}

.MakingReport {
    background-color: yellow;
}

.Done {
    background-color: lightgreen;
}

.DoneWithDelay {
    background-color: green;
}

.Cancel {
    background-color: red;
}
