label {
    font-weight: bold;
    margin-top: 10px;
}

.invalidLabel {
    color: red;
}

img {
    cursor: pointer;
}

.box-btn {
    padding: 10px;
    margin-right: 5px;
}

.btn-list {
    background-color: beige;
    border-radius: 10px;
}

.bi-x-circle {
    cursor: pointer;
}

.bi-x-circle:hover {
    color: red;
}

.table-box {
    cursor: pointer;
    color: #333;
}

.row-hover {
    cursor: pointer;
}

.table-box-clicked {
    background-color: rgb(141, 233, 141);
}

.head-page {
    border-bottom: 1px solid black;
}

.checkbox {
    cursor: pointer;
    width: 16px;
    height: 16px;
}