<div class="col-12 mt-0">
    <app-head-menu></app-head-menu>
</div>
<div class="col-12 " style="background-color: white; padding: 20px; border-radius: 12px; box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);">
    <h5 class="head-page">NEW EQUIPMENT</h5>

    <div class="row">
        <div class="col-6">
            <input type="file" hidden #uploadImg (change)="onUploadImage($event)" accept="image/*">

            <button id="btnOutput" class="btn btn-block" style="height: 500px;" (click)="uploadImg.click()">Upload
                image</button>
            <img id="output" src="#" alt="" hidden width="100%" height="500px" (click)="uploadImg.click()">
            <p *ngIf="FileUpload">
                <strong>filename: </strong><span>{{FileUpload.name}}</span>
                <strong class="ml-2">size: </strong><span>{{FileUpload.size |fileSize}}</span>
            </p>
        </div>

        <div class="col-6">
            <div class="row" [formGroup]="newEquipment">
                <div class="col-12">
                    <label [ngClass]="{'invalidLabel': newEquipmentControl['analysisEquipmentName'].invalid}" for="">Analysis equipment name</label>
                    <input type="text" class="form-control" formControlName="analysisEquipmentName">
                </div>
                <div class="col-12" *ngIf="Field">
                    <label [ngClass]="{'invalidLabel': newEquipmentControl['field'].invalid}" for="">Field</label>
                    <select class="custom-select" formControlName="field">
                        <option value=""></option>
                        <option [value]="item" *ngFor="let item of Field.lists ; let i=index">{{item}}</option>
                    </select>
                </div>
                <div class="col-12">
                    <label [ngClass]="{'invalidLabel': newEquipmentControl['analysisScope'].invalid}" for="">Analysis
                        scope</label>
                    <input type="text" class="form-control" formControlName="analysisScope">
                </div>
                <div class="col-12">
                    <label [ngClass]="{'invalidLabel': newEquipmentControl['defectMode'].invalid}" for="">Defect
                        mode</label>

                    <div class="row" *ngIf="DefectMode">
                        <div class="col-6">
                            <input list="defectModeList" class="form-control" id="defectMode">
                            <datalist id="defectModeList">
                                <option [value]="item" *ngFor="let item of DefectMode.lists; let i=index">
                            </datalist>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-block mt-0" (click)="onClickAddModelCode()">ADD</button>
                        </div>
                        <div class="col-12">
                            <span class="box-btn" *ngFor="let item of newEquipmentControl['defectMode'].value; let i=index">
                                <span class="btn-list">{{item}} </span><i class="bi bi-x-circle" (click)="onClickDeleteModelModeList(i)"></i>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-12">
                    <label [ngClass]="{'invalidLabel': newEquipmentControl['limitationOfSample'].invalid}" for="">Limitation of sample</label>
                    <input type="text" class="form-control" formControlName="limitationOfSample">
                </div>

                <div class="col-12">
                    <label [ngClass]="{'invalidLabel': newEquipmentControl['province'].invalid}" for="">Province</label>
                    <button class="btn btn-block" (click)="openModal(country)">Click</button>
                    <div class="row" *ngIf="newEquipmentControl['province']">
                        <ul *ngFor="let item of newEquipmentControl['province'].value; let i=index">
                            <li>{{item.master}}
                                <ul>
                                    <li *ngFor="let list of item.lists">{{list.name}}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12" *ngIf="Brands">
                    <label [ngClass]="{'invalidLabel': newEquipmentControl['brand'].invalid}" for="">Brand</label>
                    <input type="search" list="brandList" class="form-control" formControlName="brand">
                    <datalist id="brandList">
                        <option [value]="item" *ngFor="let item of Brands.lists; let i=index">
                    </datalist>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <!-- <button [disabled]="newEquipment.invalid" class="btn btn-block btn-primary" (click)="onClickSubmit()">SUBMIT</button> -->
            <button class="btn btn-block btn-primary" (click)="onClickSubmit()">SUBMIT</button>
        </div>
    </div>
</div>





<!-- todo modal edit  -->
<ng-template #country let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Select External Laboratory</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="col-12">
            <div class="row" *ngFor="let item of Country; let i=index">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-dark text-center">
                            <th colspan="4">
                                {{item.master}}
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">name</th>
                            <th>file</th>
                            <th>analysis fee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item2 of item.lists; let i2=index">
                            <tr [ngClass]="{'table-box-clicked': item2.clicked}">
                                <td width="5%">
                                    <input type="checkbox" class="checkbox" (change)="onCheckBox(item2)" [checked]="item2.clicked">
                                </td>
                                <td width="50%">
                                    {{item2.name}}
                                </td>
                                <td *ngIf="item2.files.length>0">
                                    <a [download]="item2.files[0].name" target="_blank" [href]="item2.files[0].url">
                                        Quotation pdf file
                                    </a>
                                </td>
                                <td *ngIf="!item2.files.length>0">
                                    No file
                                </td>
                                <td>
                                    {{item2.quotation.analysisFee | currency:item2.quotation.currency}}
                                </td>
                                <!-- <td class="table-box text-center" [ngClass]="{'table-box-clicked': item2.clicked}"
                                    (click)="onClickBox(i,i2)">
                                    {{item2.analysisFee}}
                                </td> -->

                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="modal.dismiss('Cross click');">
            Close</button>
    </div>
</ng-template>