/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@media (min-width: 800px) {
    .ag-grid-h {
        height: 400px;
    }
}

@media (min-width: 1366px) {
    .ag-grid-h {
        height: 550px;
    }
}

@media (min-width: 1600px) {
    .ag-grid-h {
        height: 800px;
    }
}


/* @font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url(./assets/fonts/Montserrat-Regular.ttf) format("truetype");
} */


/* @font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
} */


/* html,
body {
    font-family: "'Montserrat', sans-serif";
    font-size: 20px;
    font-weight: 400;
} */

#sub-menu {
    height: 0;
    width: 100%;
    overflow-y: hidden;
    transition: 0.25s;
}

.head-menu {
    border-bottom: 2px solid black;
}

.head-item {
    border-left: 2px solid black;
    font-size: medium;
    font-weight: 700;
    color: #333;
    padding-left: 5px;
}

.head-item :hover {
    color: rgb(231, 47, 47);
}