<div class="col-12 mt-0">
    <app-head-menu></app-head-menu>

</div>

<ng-container *ngFor="let item of Equipment; let i=index">
    <div class="col-12 mt-3">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="title-content">Equipment {{item.name}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item2 of item.data; let i=index">
                <div class="card mx-auto">
                    <!-- {{item2|json}} -->
                    <div class="zoom">
                        <ng-container *ngIf="item2.urlImage; else elseTemplate">
                            <img [src]="item2.urlImage['url']" class="card-img-top" alt="...">
                        </ng-container>
                        <ng-template #elseTemplate>
                            <img src="#" alt="" class="temp-img">
                            <!-- <p class="card-img-top">No image</p> -->
                        </ng-template>


                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">{{item2.analysisEquipmentName}}</h5>
                        <p class="card-text">{{item2.analysisScope}}</p>
                        <a class="more" (click)="openModal(item2)">More...</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-container>