<div class="modal-header">
    <h4 class="modal-title">{{fromParent.analysisEquipmentName}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="col-12">
        <div class="row">
            <div class="col-6 " *ngIf="fromParent.urlImage">
                <div class="img-hover-zoom" height="500px">
                    <img [src]="fromParent.urlImage['url']">
                </div>
                <p>
                    <span> <label>Filename:</label> {{fromParent.urlImage['name']}}</span>
                    <span class="ml-2"> <label>Size:</label> {{fromParent.urlImage['size'] |fileSize}}</span>
                </p>
            </div>
            <div class="col-6 " *ngIf="!fromParent.urlImage" style="border: 1px solid #333;">
                <img src="" height="500px">
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <label for="">Analysis equipment name</label>
                        <p>{{fromParent.analysisEquipmentName}}</p>
                    </div>
                    <div class="col-12">
                        <label>Field</label>
                        <p>{{fromParent.field}}</p>
                    </div>
                    <div class="col-12">
                        <label>Analysis scope</label>
                        <p>{{fromParent.analysisScope}}</p>
                    </div>
                    <div class="col-12">
                        <label>Defect mode</label>
                        <p>{{fromParent.defectMode}}</p>
                    </div>
                    <div class="col-12">
                        <label>Limitation of sample</label>
                        <p>{{fromParent.limitationOfSample}}</p>
                    </div>
                    <div class="col-12">
                        <label>Brand</label>
                        <p>{{fromParent.brand}}</p>
                    </div>
                    <div class="col-12">
                        <label>Province</label>
                        <table *ngFor="let province of fromParent.province; let indexProvince=index" class="table table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th colspan="3">{{province.master}}</th>
                                </tr>
                                <tr>
                                    <th>name</th>
                                    <th>file</th>
                                    <th>analysis fee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let list of province.lists; let indexList=index">
                                    <ng-container *ngIf="list.files.length>0; else elseTemplate">
                                        <tr>
                                            <td width="30%">
                                                {{list.name}}
                                            </td>
                                            <td width="40%">
                                                <a [href]="list.files[0].url" target="_blank" [download]="downloadFileName(province,indexList)">
                                                    {{downloadFileName(province,indexList)}} ( {{list.files[0].size |
                                                    fileSize}} )
                                                </a>
                                            </td>
                                            <td width="30%">
                                                {{list.quotation.analysisFee |currency:list.quotation.currency}}

                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <tr>
                                            <td width="30%">
                                                {{list.name}}
                                            </td>
                                            <td class="text-danger" width="40%">
                                                No file
                                            </td>
                                            <td width="30%">
                                                {{list.quotation.analysisFee |currency:list.quotation.currency}}
                                            </td>
                                        </tr>
                                    </ng-template>


                                </ng-container>

                            </tbody>
                        </table>


                    </div>

                </div>
            </div>
        </div>

    </div>

</div>